 <div class="recipe-section">
    <button class="food-btn">
        <%= link_to 'Add Recipe', new_recipe_path %>
    </button>

    <% @recipes.each do |recipe| %>
        <div class="recipe-container">
            <div class="recipe-item">
                <p><%=link_to recipe.name, recipe_path(recipe.id) %></p>
                <%= button_to 'Remove', recipe, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
            </div>
            <p class="recipe-text"><%= recipe.description %></p>
        </div>
    <% end %>
</div>
